.footer {
  width: 100%;
  padding: 1rem 0;
  background-color: #000;
  bottom: 0;
  color: white;
  margin-top: 10rem;
}

.hdstyle {
  margin-left: 1.4rem;
}

.footer-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.left {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.location {
  display: block;
  margin-bottom: 0.8rem;
}

.location p {
  line-height: 30px;
  margin-left: 3rem;
  margin-top: 0.5rem;
}

.right {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

h3 {
  font-size: 1.2rem;
  padding-bottom: 1.7rem;
}

p {
  font-size: 1.1rem;
}

.namer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.8rem;
}
.namer img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border-style: solid;
  transform: translate(20px, 3px);
}

.repo {
  text-decoration: none;
  color: white;
}

.repo {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 640px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}
